<h1>Benutzer</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Passwort</th>
      <th scope="col">Benutzername</th>
      <th scope="col">Aktionen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.email}}</td>
      <td>*****</td>
      <td>{{user.username}}</td>
      <td>
        <button class="btn btn-primary btn-sm" type="submit" (click)="editUser(user.id)">Ändern</button>
        <button class="btn btn-primary btn-sm" type="submit" (click)="removeUser(user)">Löschen</button>
      </td>
    </tr>
  </tbody>
</table>

<h1>Produkte</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Bild</th>
      <th scope="col">Name</th>
      <th scope="col">Preis</th>
      <th scope="col">Beschreibung</th>
      <th scope="col">Aktionen</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>
        <img class="img-thumbnail" src="{{product.image}}" alt="Product">
      </td>
      <td>{{product.name}}</td>
      <td>{{product.price | currency: '€ ': true}}</td>
      <td>{{product.description}}</td>
      <td>
        <button class="btn btn-primary btn-sm" type="submit" (click)="editProduct(product.id)">Ändern</button>
        <button class="btn btn-primary btn-sm" type="submit" (click)="removeProduct(product)">Löschen</button>
      </td>
    </tr>
  </tbody>
</table>